.navbar {
  background-color: #383838; }

.navbar-brand a.navbar-item {
  color: #fff; }

.navbar-end .navbar-item {
  color: #C1C1C1;
  padding: 0.5rem 1.75rem; }
  @media screen and (max-width: 768px) {
    .navbar-end .navbar-item {
      color: gray; } }

.navbar-end:hover {
  background-color: #F1F1F1; }

.navbar-burger span {
  background-color: #C1C1C1; }
